.top-image{
    background-image: url(images/donation5.jpg);
    height: 500px;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
}
#big-font{
    font-size: 100px;
    color: white;
    font-weight: 400px;
    padding: 10px 300px 10px 300px;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400px;
}
.top-image img{
    width: 100%;
}
#parina{
    width: 100%;
    font-weight: 400px;
    font-size: 30px;
    color: beige;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-color: greenyellow;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.no-2-h1{
    color: black;
    font-size: 50px;
    padding-top: 50px;
}
.second-paragraph{
    font-size: 20px;
    color: gray;
}
.container{
    display: flex;
    justify-content: center;
    
    
}
#no-two{
    background-color: blanchedalmond;
    border: 2px solid ;
    border-radius: 7px;
    margin: 10px;
    width: 100px;
    height: 100px;
    padding: 15px;
    font-size: 35px;
    color: rgba(255, 105, 180, 0.785);
    font-weight: 400px;
}
.item{
    background-color: rgb(214, 201, 201);
    border: 2px solid;
    border-radius: 7px;
    margin: 10px;
    width: 100px;
    height: 100px;
    padding: 15px;
    font-size: 35px;
    color: rgb(110, 109, 109);
    font-weight: 400px;
}

.sect-two{
    width: 100%;
    align-content: center;
 
}
footer{
    background-color: black;
    color: tomato;
    height: 120px;
    padding-top: 10px;
    margin-top: 20px;

}
.icon-sector{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
    
}
.icon-1{
    background-color: rgb(210, 231, 238);
    border: 2px ;
    border-radius: 7px;
    margin: 10px;
    width: 250px;
    height: 250px;
    padding: 15px;
    font-size: 25px;
    color: rgb(143, 222, 236);
    font-weight: 400px;
}
.icon-2{
    background-color: rgb(247, 218, 235);
    border: 2px ;
    border-radius: 7px;
    margin: 10px;
    width: 250px;
    height: 250px;
    padding: 15px;
    font-size: 35px;
    color: rgb(220, 143, 195);
    font-weight: 400px;
}
.icon-3{
    background-color: rgb(242, 192, 192);
    border: 2px ;
    border-radius: 7px;
    margin: 10px;
    width: 250px;
    height: 250px;
    padding: 15px;
    font-size: 35px;
    color: rgb(110, 109, 109);
    font-weight: 400px;
}
.font-color{
    color: black;
    font-size: 35px;
}
.paragraph{
    font-size: 20px;
    color: gray;
}
.image-sector{
    display: flex;
    margin-top: 20px;

}
.third-container{
    display: flex;

}
.about{
    color: black;
}